.accountPage {
  box-sizing: border-box;
  background: #ffffff;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main {
  display: flex;
  flex-direction: column;
}

.wallpaperContainer {
  display: inline;
  width: 100vw;
  height: 200px;
  background: #f3f3f3;
  border-bottom: 1px solid #e6e6e6;
}
.buttonContainer {
  position: absolute;
  top: 70px;
  left: 40vw;
}
.uploadButton {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 22px;
  gap: 10px;
  width: 195px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.uploadButton input {
  display: none;
}
.uploadButton label {
  text-align: center;
}

.headerContainer {
  margin-top: 80px;
  margin-left: 18.75vw;
  margin-right: 18.75vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.name {
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  color: #000000;
}

.email {
  height: 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #838383;
}

.imageContainer {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 18.75vw;
  top: 150px;
  background: #f3f3f3;
  border-radius: 50%;
}
.downloadAvatarButton {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  color: #ffffff;
  background: #000000;
  border: none;
  border-radius: 50%;
}
.downloadAvatarButton input {
  display: none;
}
.downloadImage {
  position: absolute;
  top: 34px;
  left: 29px;
}
.image {
  width: 100px;
  height: 100px;
  left: 18.75vw;
  top: 150px;
  color: #000000;
  background: #f3f3f3;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
}

.imageText {
  text-align: center;
  line-height: 0.66;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}
.description {
  width: 47vw;
  height: auto;
  margin-left: 18.75vw;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.editButton {
  padding: 7px 22px;
  width: 200px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.logoutButton {
  box-sizing: border-box;
  margin-left: 18.75vw;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 22px;
  gap: 10px;

  width: 130px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  margin-bottom: 16vh;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .headerContainer {
    margin-top: 80px;
    display: flex;
    width: auto;
    margin-left: 8vw;
    margin-right: 8vw;
    flex-direction: column;
    align-items: flex-start;
  }
  .email {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .imageContainer {
    left: 8vw;
    top: 150px;
  }

  .buttonContainer {
    position: absolute;
    top: 70px;
    left: 25vw;
  }
  .description {
    margin-top: 8vw;
    width: 84vw;
    margin-left: 8vw;
  }
  .logoutButton {
    margin-left: 8vw;
  }
}

.footer {
  visibility: hidden;
}
