@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  width: 400px;
  height: 424px;
  left: calc(50% - 400px / 2);
  top: calc(50% - 424px / 2 - 0.5px);
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.title {
  width: 100%;
  padding-left: 30px;
  font-size: 30px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #000000;
  margin: 0;
}

.inputContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 20px;
  gap: 10px;
  width: 330px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #838383;
  border-radius: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.input {
  border: none;
  width: 100%;
  height: 100%;
  outline: 0;
}

.button {
  padding: 12px 33px;
  width: 340px;
  height: 50px;
  background: #d5d5d5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.buttonSubmit {
  padding: 12px 33px;
  width: 340px;
  height: 50px;
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #000000;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  height: 72px;
  font-family: "Inter";
  background: #ffffff;
  color: #838383;
  border-top: 1px solid #e6e6e6;
}

.footer span {
  margin-right: 5px;
}
.footerButton {
  background: none;
  color: #000000;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
  font-style: normal;
}
.footerButton:hover {
  text-decoration: none;
}
.footerButton:visited {
  text-decoration: none;
}
.footerButton:link {
  text-decoration: none;
}
@media (max-width: 500px) {
  .registerForm {
    background: #ffffff;
    border: none;
    left: auto;
    width: auto;
    top: 80px;
  }
}
